<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cura Patient Management System</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <section class="main-container">
        <header>
            <h1>Cura Patient Management System</h1>
        </header>
    
        <section class="container formContainer">
            <h2>Add new patient</h2>
            <form action="/addPatients" class="addPatientForm" method="POST">
                    <label for="firstName">First Name<span class="required"> *</span></label>
                    <input type="text" name="firstName" required>
                    <label for="lastName">Last Name<span class="required"> *</span></label>
                    <input type="text" name="lastName" required>
                    <label for="dateOfbirth">Date of Birth<span class="required"> *</span></label>
                    <input type="date" name="dateOfbirth" required>
                    <button type="submit" id="addPatient"><i class="fa-solid fa-plus"></i>Add patient</button>
            </form>
        </section>

        <section class="patientList container">
    
            <!-- <ul class="patients">
                <% for(let i = 0; i < patients.length; i++) { %>
                    <li class="patient">
                        <span><%= patients[i].firstName %></span>
                        <span><%= patients[i].lastName %></span>
                        <span><i class="fa-regular fa-pen-to-square"></i></span>
                        <span><i class="fa-regular fa-trash-can"></i></span>
                    </li>
                <% } %>
            </ul> -->

            <table class="patientTable">
                <thead>
                    <tr>
                        <th>ID Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < patients.length; i++) { %>
                        <tr class="patientInfo">
                            <td class="patientID"><%= patients[i].patientID %></td>
                            <td class="patientFirstName"><%= patients[i].firstName %></td>
                            <td class="patientLastName"><%= patients[i].lastName %></td>
                            <td class="patientDOB"><%= patients[i].dateOfbirth %></td>
                            <td class="actionButtons"><i class="fa-regular fa-pen-to-square" id="updateButton"></i><i class="fa-regular fa-trash-can" id="deleteButton"></i></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>

        <!-- <section class="add-patient-form">
            <h3>Add patient form</h3>
            <form action="/patients" method="POST">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName">
                <button type="submit">Add patient</button>
            </form>
        </section>
    
        <section class="buttons">
            
            <button id="update-button">Update patient</button>
            <button id="delete-button">Delete patient</button>
        </section>
    
        <section class="patient-list">
            <h3>Patients</h3>
    
            <ul class="patients">
                <% for(let i = 0; i < patients.length; i++) { %>
                    <li class="patient">
                        <span><%= patients[i].firstName %></span>
                        <span><%= patients[i].lastName %></span>
                        <span><i class="fa-regular fa-pen-to-square"></i></span>
                        <span><i class="fa-regular fa-trash-can"></i></span>
                    </li>
                <% } %>
            </ul>
            
        </section>
    
        <section class="delete">
            
            <div id="message"></div>
        </section>
    </section> -->

    

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/9f6d244e8f.js" crossorigin="anonymous"></script>
    <!-- Connect main.js -->
    <script src="/main.js"></script>
</body>
</html>